/* @import must be first, even before @tailwind */
@import "./navigation";
@import "./header";
@import "./food_products";

@import "./components/buttons";
@import "./components/links";
@import "./components/forms";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    width: 100vw;
    height: 100vh;

    @apply bg-stone-800 text-zinc-200;
}

#page-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
}

#main-content {
    flex: 1;
    overflow-y: scroll;

    @apply px-20 py-8;
}

section {
    h3.section-header {
        @apply text-xl font-semibold;
    }
}
