#product-list, #dishes-list, .table {
    width: 100%;

    td, th {
        text-align: center;

        @apply px-1 py-2;

        .actions {
            @apply flex gap-3;
        }
    }

    th {
        @apply text-sm uppercase;
    }

    td:first-child, th:first-child {
        text-align: left;
    }
}

#product-details {
    table {
        td {
            @apply p-2 text-lg;

            &:first-child {
                @apply font-bold;
            }
        }
    }
}
