package components

templ FormControl(name, label, err string) {
	<div class="form-control">
		<label for={ name }>{ label }</label>
		<div>{ children... }</div>

		if err != "" {
			<div class="error">{ err }</div>
		}
	</div>
}
