{{ define "product-list" }}
{{ template "layout" . }}
{{ end }}

{{ define "content" }}
<header id="main-header">
    <div class="flex justify-between">
        <h1>Products</h1>

        <a href="/products/new">
            <button type="button" class="btn-primary">
                Add
            </button>
        </a>
    </div>
</header>

<table id="product-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Proteins</th>
            <th>Fats</th>
            <th>Carbs</th>
            <th></th>
        </tr>
    </thead>

    <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML">
        {{ range . }}
            <tr>
                <td>
                    <a href="{{ productURI . }}" class="link-primary">
                        {{ .Name }}
                    </a>
                </td>
                <td>{{ .Calories.String }}</td>
                <td>{{ .Proteins.String }}</td>
                <td>{{ .Fats.String }}</td>
                <td>{{ .Carbs.String }}</td>
                <td>
                    <ul class="actions">
                        <li>
                            <a href="{{ editProductURI . }}" class="link-secondary">
                                Edit
                            </a>
                        </li>
                        <li>
                            <span hx-delete="{{ productURI . }}" class="link-secondary">
                                Delete
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
