{{ define "new-product" }}
{{ template "layout" . }}
{{ end }}

{{ define "content" }}
<header id="main-header">
    <div class="flex justify-between w-full">
        <h1>Add a Product</h1>
        <a href="/products" class="link-primary">
            List
        </a>
    </div>
</header>

<section>
	<form action="/products" method="POST">
		<div class="flex flex-col items-start gap-4">
            {{ template "input" inputData
                "Type" "text"
                "Name" "name"
                "Label" "Name"
                "Value" .Name
                "ID" "name"
                "Required" true
                "Error" (.Errors.Name) }}

			<div class="flex gap-2">
                {{ template "input" inputData
                    "Name" "calories"
                    "Type" "number"
                    "Label" "Calories"
                    "Value" .Calories
                    "ID" "calories"
                    "Placeholder" "0"
                    "Required" true
                    "Error" .Errors.Calories }}

                {{ template "input" inputData
                    "Name" "per"
                    "Type" "number"
                    "Label" "Per"
                    "Value" .Per
                    "ID" "per"
                    "Placeholder" "100"
                    "Required" true
                    "Error" .Errors.Per }}
			</div>

			<div class="macros flex gap-2">
                {{ template "input" inputData
                    "Name" "proteins"
                    "Type" "number"
                    "Label" "Proteins"
                    "Value" .Proteins
                    "ID" "proteins"
                    "Placeholder" "0"
                    "Required" true
                    "Error" .Errors.Proteins }}

                {{ template "input" inputData
                    "Name" "fats"
                    "Type" "number"
                    "Label" "Fats"
                    "Value" .Fats
                    "ID" "fats"
                    "Placeholder" "0"
                    "Required" true
                    "Error" .Errors.Fats }}

                {{ template "input" inputData
                    "Name" "carbs"
                    "Type" "number"
                    "Label" "Carbs"
                    "Value" .Carbs
                    "ID" "carbs"
                    "Placeholder" "0"
                    "Required" true
                    "Error" .Errors.Carbs }}
			</div>

			<button type="submit" class="btn-secondary">
				Submit
			</button>
		</div>
	</form>
</section>
{{ end }}
