.btn {
    @apply min-w-20 font-bold py-2 px-4 text-stone-800 transition-all ease-linear;
    &:hover {
        @apply -translate-x-1 -translate-y-1;
        box-shadow: 4px 4px var(--tw-shadow-color);
    }
}

.btn-primary {
    @apply btn;
    @apply bg-emerald-400 shadow-yellow-50;
}

.btn-secondary {
    @apply btn;
    @apply bg-yellow-50 shadow-emerald-400;
}
