.form-control {
    label {
        @apply p-2 font-medium;
    }

    .error {
        @apply text-red-300;
    }
}

input[type="text"], input[type="number"], input[type="email"],
input[type="password"], input[type="phone"], input[type="address"] {
    @apply rounded-md py-2 px-4 bg-stone-700 border-stone-500;
}
