package view

import "fmt"
import "pyra/view/layout"
import "pyra/view/components"
import "pyra/pkg/dishes"
import "pyra/view/utils"

templ DishList(items []dishes.Dish) {
	@layout.Pyra() {
		@components.Header() {
			<div class="flex justify-between">
				<h1>Dishes</h1>

				<a href="/dishes/new">
					<button type="button" class="btn-primary">
						Add
					</button>
				</a>
			</div>
		}

		<section>
			<table id="dishes-list">
				<thead>
					<tr>
						<th>Name</th>
						<th>Calories</th>
						<th>Proteins</th>
						<th>Fats</th>
						<th>Carbs</th>
					</tr>
				</thead>

				<tbody>
					for _, dish := range items {
						<tr>
							<td>
								<a href={ dishPath(dish.ID) }
								class="link-primary">
									{ dish.Name }
								</a>
							</td>
							<td>{ utils.FormatCompactFloat(dish.Calories) }</td>
							<td>{ utils.FormatCompactFloat(dish.Proteins) }</td>
							<td>{ utils.FormatCompactFloat(dish.Fats) }</td>
							<td>{ utils.FormatCompactFloat(dish.Carbs) }</td>
						</tr>
					}
				</tbody>
			</table>
		</section>
	}
}

func dishPath(id uint64) templ.SafeURL {
	return templ.URL(fmt.Sprintf("/dishes/%d", id))
}
