package foodproducts

import "fmt"
import "github.com/olehvolynets/pyra/view/layout"
import "github.com/olehvolynets/pyra/view/components"
import "github.com/olehvolynets/pyra/view/utils"
import fp "github.com/olehvolynets/pyra/pkg/foodproducts"

templ ProductList(products []fp.FoodProduct) {
	@layout.Pyra() {
		@components.Header() {
			<div class="flex justify-between">
				<h1>Products</h1>

				<a href="/foodProducts/new">
					<button type="button" class="btn-primary">
						Add
					</button>
				</a>
			</div>
		}

		<table id="product-list">
			<thead>
				<tr>
					<th>Name</th>
					<th>Calories</th>
					<th>Proteins</th>
					<th>Fats</th>
					<th>Carbs</th>
				</tr>
			</thead>

			<tbody>
				for _, product := range products {
					<tr>
						<td>
							<a href={ templ.URL(fmt.Sprintf("/foodProducts/%d", product.ID)) } class="link-primary">
								{ product.Name }
							</a>
						</td>
						<td>{utils.FormatFloat(product.Calories)}</td>
						<td>{utils.FormatFloat(product.Proteins)}</td>
						<td>{utils.FormatFloat(product.Fats)}</td>
						<td>{utils.FormatFloat(product.Carbs)}</td>
					</tr>
				}
			</tbody>
		</table>
	}
}
