package view

import "pyra/view/layout"
import "pyra/view/components"
import "pyra/pkg/foodproducts"
import "fmt"

templ EditProduct(form foodproducts.ProductForm) {
	@layout.Pyra() {
		@components.Header() {
			<div class="flex justify-between w-full">
				<h1>Edit: { form.Name }</h1>
				<a href="/foodProducts" class="link-primary">
					List
				</a>
			</div>
		}
		<section>
			@editProductForm(form)
		</section>
	}
}

templ editProductForm(form foodproducts.ProductForm) {
	<form
		action={ templ.SafeURL(fmt.Sprintf("/foodProducts/%d", form.ID)) }
		method="PUT"
		hx-put={ string(templ.SafeURL(fmt.Sprintf("/foodProducts/%d", form.ID))) }
	>
		if err, ok := form.Errors["base"]; ok {
			<p class="text-red-300">{err}</p>
		}

		<div class="flex flex-col items-start gap-4">
			@components.FormControl("name", "Name", form.Errors["name"]) {
				<input
					type="text"
					value={ form.Name }
					name="name"
					id="name"
					required
				/>
			}

			<div class="flex gap-2">
				@components.FormControl("calories", "Calories", form.Errors["calories"]) {
					<input
						type="number"
						value={ formatFloat(float64(form.Calories)) }
						name="calories"
						id="calories"
						placeholder="0"
						required
					/>
				}
				@components.FormControl("per", "Per", form.Errors["per"]) {
					<input
						type="number"
						value={ formatFloat(float64(form.Per)) }
						name="per"
						id="per"
						placeholder="100"
						required
					/>
				}
			</div>
			<div class="macros flex gap-2">
				@components.FormControl("proteins", "Proteins", form.Errors["proteins"]) {
					<input
						type="number"
						value={ formatFloat(float64(form.Proteins)) }
						name="proteins"
						id="proteins"
						placeholder="0"
						required
					/>
				}
				@components.FormControl("fats", "Fats", form.Errors["fats"]) {
					<input
						type="number"
						value={ formatFloat(float64(form.Fats)) }
						name="fats"
						id="fats"
						placeholder="0"
						required
					/>
				}
				@components.FormControl("carbs", "Carbs", form.Errors["carbs"]) {
					<input
						type="number"
						value={ formatFloat(float64(form.Carbs)) }
						name="carbs"
						id="carbs"
						placeholder="0"
						required
					/>
				}
			</div>
			<button type="submit" class="btn-secondary">
				Update
			</button>
		</div>
	</form>
}
