package layout

templ Navigation() {
	<nav>
		<ul>
			<li class={ templ.KV("active", false) }>
				<a href="#">Menu</a>
			</li>

			<li class={ templ.KV("active", true) }>
				<a href="/foodProducts">Products</a>
			</li>

			<li class={ templ.KV("active", false) }>
				<a href="#">Dishes</a>
			</li>
		</ul>
	</nav>
}
