package layout

templ Navigation() {
	<nav>
		<ul>
			<li class={ templ.KV("active", false) }>
				@navBtn("Menu", "#")
			</li>

			<li class={ templ.KV("active", true) }>
				@navBtn("Products", "#")
			</li>

			<li class={ templ.KV("active", false) }>
				@navBtn("Dishes", "#")
			</li>
		</ul>
	</nav>
}

templ navBtn(text, link string) {
	<a href={ templ.URL(link) }>
		{ text }
	</a>
}
