package layout

templ Navigation() {
	<nav>
		<ul>
			<li>
				<a href="#">Menu</a>
			</li>
			<li>
				<a href="#">Dishes</a>
			</li>
			<li>
				<a href="#" class="text_primary">Products</a>
			</li>
		</ul>
	</nav>
}
