package layout

templ Pyra() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Pyra</title>

			<meta name="viewport" content="width=device-width,initial-scale=1">

			<link rel="stylesheet" href="/assets/pyra.css">
			<script src="/assets/main.js" defer></script>
		</head>

		<body>
			<div id="page-frame">
				<div class="navigation-wrapper">
					@Navigation()
				</div>

				<main id="main-content">
					{ children... }
				</main>
			</div>
		</body>
	</html>
}
