package layout

templ Pyra() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Pyra</title>
			<meta name="viewport" content="width=device-width,initial-scale=1">
			<link rel="stylesheet" href="/assets/pyra.css">
		</head>

		<body>
			<main>
				<div class="navigation-wrapper">
					@Navigation()
				</div>

				<div style="left: 16.66vw">
					{ children... }
				</div>
			</main>
		</body>
	</html>
}
